<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salida - Admisend</title>
    <link rel="stylesheet" href="stylesheets/style_index.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="images/logo_admisend.png" alt="Logo de la aplicación">
        </div>
        <!--  
        <div class="search-bar">
            <input type="search" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </div>
        -->
        <div class="user-info">
            <span>Bienvenido, <strong><%= nombre %></strong></span>
        </div>
        <div class="user-info">
            <span><a href="/logout" id="logout">Cerrar Sesión</a></span>
        </div>
    </nav>

    <!-- Sidebar -->
    <aside class="sidebar">
        <ul>
            <li><a href="/send"><button class="btn-send">Enviar mensaje</button></a></li>
            <li><a href="/">Recibidos</a></li>
            <li><a href="#" class="active">Enviados</a></li>
        </ul>
    </aside>

    <!-- Contenido principal -->
    <main class="main-content">
        <table class="mail-table">
            <thead>
                <tr>
                    <th>Remitente</th>
                    <th>Asunto</th>
                    <th>Nro memo</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>

                <% if (resultado != undefined) { %>
                    <% resultado.forEach(resultado => { %>
                      <tr>
                        <td><a href="/msg<%= resultado.id_mensaje %>"><%= resultado.nombre %></a></td>
                        <td><a href="/msg<%= resultado.id_mensaje %>"><%= resultado.asunto %></a></td>
                        <td><a href="/msg<%= resultado.id_mensaje %>"><%= resultado.nro_memo %></a></td>
                        <td><a href="/msg<%= resultado.id_mensaje %>"><%= resultado.fecha %></a></td>
                      </tr>
                    <% }) %>
                  <% } else { %>
                        <tr>
                            <td><h1>No hay mensajes actualmente</h1></td>
                        </tr>
                  <% } %>
        
                <!-- Más filas de correos aquí -->
            </tbody>
        </table>
    </main>
</body>
</html>